body {
    background: darkolivegreen;
    color: bisque;
    font-family: 'Londrina Solid';
    margin: 0;
}

h1 {
    font-size: clamp(2rem, 10vw, 9rem);
}

h2 {
    font-size: clamp(1.5rem, 7vw, 6rem);
}

ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    flex: 1 1 auto;
}
