/*
  GOALS

  the site becomes a single viewport. on click of a link to another section, the elements of the current page go away and the new elements populate the view.
  on click, a "current page" variable is set, which determines which function is called to remove the elements of the current view.

  the burger can be replayed

  the nav arrows fade in properly or are replaced by images

  the "mountains" are split into separate images that slide in with the front of the view appearing first.
  mouse position creates a subtle parallax on those mountains

  figure out the issue with the deactivation of the "focus light" on the demo boxes

  add a screen loader

  images aren't loading on first load, need a promise?

  user can draw and submit an image


remove column wrap from about section
wrap all sections in one div
fix min-content
owl carousel:
remove overlay on mobile;

.class:before {
    content: '\E315';
    font-family: 'Material Icons';
    display: block;
    font-size: 2rem;
    color: aliceblue;
}

site seems to overflow vertically? Put a container over everything and give a max width. overflow-x: none on the body (flex-flow: column wrap take out)
Titles on boxes are super small and hard to read.
Need to be careful about heights overlapping each other (slider overlapping container div, put a min-width on the flexed items so they don’t shrink)
Rethink icons arrows

    Mobile:
Remove the head on mobile where the demos are
On mobile the arrows should point down not to the right since the dropdown is going right.
Title isn’t centered over the head
Navigation isn’t expanding to the full height of content
Hamburger is overlapping the button
No way to close the navigation on mobile since hovers don’t work like on desktop
Disable about us scroll feature on mobile
The part that says “click the crown to start the timer” should be centered at the top on mobile and then show on hover for desktop
Slider buttons don’t work on mobile (iphone - chrome, works on Safari) (maybe use owl carousel instead?)
Possible overlay bug interfering with events on mobile



*/

/* RESETS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1; font-size: 24px;}
ol, ul {list-style: none;}
a {text-decoration: none;}
:focus {outline: none;}

/* GLOBAL */
h1, h2 {font-family: 'Londrina Solid', serif; text-align: center;}
h3, li, p, button {font-family: quicksand, sans-serif; font-weight: 100; color: #fff;}
h3 {letter-spacing: 0.6vw; font-size: 0.75rem; display: inline-block;}
h1:hover, h3:hover, p:hover {cursor: default;}
button:hover {cursor: pointer;}
.container {background-color: #73819A; max-width: 100%; overflow-x: hidden;}

/* NAV */
.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 2vw;
  z-index: 9990;
  background-color: #848484;
  overflow: hidden;
  -webkit-box-shadow: 0.1vw 0 0.4vw #222;
  box-shadow: 0.1vw 0 0.4vw #222;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.side-nav-active {
  width: 10vw;
}

.nav-arrow {
  position: relative;
  left: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-arrow-active {
  left: 80%;
  -webkit-transform: rotate(540deg);
  transform: rotate(540deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.side-nav-link {
  display: block;
  padding: 6px;
  opacity: 0;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  top: 20px;
  left: -80px;
  margin-top: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.side-nav-link-active {
  opacity: 1;
  left: 10%;
}

.side-nav-link:hover {
  background-color: #73819A;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.side-nav-link:active {
  color: #73819A;
}

/* LANDING */
.landing {width: 100vw; height: 100vh; max-width: 100%; z-index: 100; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background-color: #fff}
.name-container {width: -webkit-min-content; width: -moz-min-content; width: min-content; margin: 0 auto; z-index: 10; padding-bottom: 1%; color: #222; mix-blend-mode: difference;}
.name-container h1 {font-size: 8rem; line-height: 0.725;}
.job-title-container {position: relative; z-index: 10;}
.job-title-container h3 {margin-top: 4%; color: #222;}
.silhouette {position: absolute; -webkit-transform: translate(-49%, -49%); transform: translate(-49%, -49%); width: 28%; display: none;}
#silhouette1 {top: 50%; left: 50%; z-index: 6;}
#silhouette2 {top: 51%; left: 51%; z-index: 4; mix-blend-mode: difference;}
#silhouette3 {top: 49%; left: 49%; z-index: 2; mix-blend-mode: difference;}

/* ABOUT */
canvas {position: absolute; top: 10%; left: 5%; display: inline-block;}
.about-container {position: relative; height: 100vh; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column wrap; flex-flow: column wrap; -ms-flex-pack: distribute; justify-content: space-around;}
.about-box {display: block; position: relative; left: 50%; width: 30%; min-height: 240px; background-color: #848484; -webkit-box-shadow: 0.05vw 0.1vw 0.13vw rgba(34,34,34,0.4); box-shadow: 0.05vw 0.1vw 0.13vw rgba(34,34,34,0.4); -webkit-transition: all 0.3s; transition: all 0.3s;}
.about-box:hover {-webkit-transform: scale(1.02,1.02) translateY(-2%);transform: scale(1.02,1.02) translateY(-2%); -webkit-box-shadow: 0.1vw 0.2vw 0.26vw rgba(34,34,34,0.4), -0.05vw 0.1vw 0.26vw rgba(34,34,34,0.4); box-shadow: 0.1vw 0.2vw 0.26vw rgba(34,34,34,0.4), -0.05vw 0.1vw 0.26vw rgba(34,34,34,0.4); -webkit-transition: all 0.3s; transition: all 0.3s;}
.about-box h3 {margin: 6px;}
.about-box p {display: block; margin: 4%;}
.about-arrow {display: none; position: absolute; left: 92%; top: 6px; -webkit-transform: rotate(90deg); transform: rotate(90deg);}
#cartoon-me {position: fixed; top: -24%; left: 0; z-index: -1; width: 100vw;}

/* DEMO */
.demo-container {position: relative; width: 100vw; height: 100vh; max-width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; background-color: white}
.demo-box {display: inline-block; -webkit-box-sizing: border-box; box-sizing: border-box; width: 27.5%; height: 60vh; z-index: 100; -webkit-box-shadow: 0.2vw 0.3vw 0.3vw rgba(34,34,34,0.4); box-shadow: 0.2vw 0.3vw 0.3vw rgba(34,34,34,0.4); background-color: #73819A; -webkit-transition: all 0.3s; transition: all 0.3s;}
.burger-box {width: 100%; height: 90%; background-color: white; overflow: hidden;}
.shift-element {top: 25%; width: 90%; height: auto; opacity: 0; -webkit-transition: all 1s; transition: all 1s;}
.carousel-container {width: 100%; height: 90%; background-color: white; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.carousel {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 86%; height: auto;}
.carousel-image {}
.slick-arrow {border: none; margin: 0 4%; font-size: 1.5rem; color: white; background-color: #73819A; -webkit-transition: all 0.2s; transition: all 0.2s;}
.slick-arrow:hover, #burger-button:hover {-webkit-transform: translateY(-0.4vh);transform: translateY(-0.4vh); -webkit-box-shadow: 0.2vw 0.3vh 0.3vw rgba(34,34,34,0.4); box-shadow: 0.2vw 0.3vh 0.3vw rgba(34,34,34,0.4); -webkit-transition: all 0.2s; transition: all 0.2s;}
.slick-arrow:active, #burger-button:active {-webkit-transform: translateY(0vh);transform: translateY(0vh); -webkit-box-shadow: 0vw 0vw 0vw #fff; box-shadow: 0vw 0vw 0vw #fff; -webkit-transition: all 0.2s; transition: all 0.2s;}
#overlay {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #222; opacity: 0; display: none; z-index: 20;}
#shift-container {width: 80%; height: 100%; margin: 0 auto; -webkit-transition: all 2s ease; transition: all 2s ease;}
#burger-shadow     {z-index:  5;}
#burger-bun-bottom {z-index: 10;}
#burger-patty      {z-index: 20;}
#burger-mustard    {z-index: 30;}
#burger-lettuce-1  {z-index: 40;}
#burger-lettuce-2  {z-index: 50;}
#burger-tomato-1   {z-index: 60;}
#burger-tomato-2   {z-index: 70;}
#burger-bun-top    {z-index: 80;}
#burger-button {position: absolute; width: 90%; bottom: 5%; border: none; font-size: 0.75rem; margin: 0; padding: 4%; color: white; background-color: #73819A; right: 5%; -webkit-transition: all 0.2s; transition: all 0.2s;}


/* LINKS */
.link-container {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; background-image: url("../img/mountains2.svg"); background-position: center; background-repeat: no-repeat; background-size: cover; height: 100vh;}
a.link-logo {width: 12%; -webkit-filter: drop-shadow(0 0 0 0); filter: drop-shadow(0 0 0 0);}
a.link-logo img {width: 100%; -webkit-transition: all 0.2s; transition: all 0.2s;}
a.link-logo img:hover {mix-blend-mode: difference; -webkit-transform: translateY(-1vh); transform: translateY(-1vh); -webkit-filter: drop-shadow(0 1vh 0 rgba(34,34,34,0.6)); filter: drop-shadow(0 1vh 0 rgba(34,34,34,0.6)); -webkit-transition: all 0.2s; transition: all 0.2s;}

.KW_progressContainer {
  left:0;
  width: 100%;
  height: 1vh;
  margin-bottom: 0px;
  position: fixed;
  bottom: 0px;
  overflow: hidden;
  background-color: #848484;
  content: "";
  display: table;
  table-layout: fixed;
}

.KW_progressBar {
  width: 0%;
  float: left;
  height: 100%;
  z-index: 99;
  max-width: 100%;
  background-color: white;
  -webkit-transition: width .2s ease;
  transition: width .2s ease;
}

.parallax-viewport {
  position: relative;     /* relative, absolute, fixed */
  overflow: hidden;
}
.parallax-layer {
  position: absolute;
}

/* ----------------------------------------------
* Generated by Animista
* w: http://animista.net, t: @cssanimista
* @author Ana Travas, @ana108
* ---------------------------------------------- */
.flip-vertical-right {-webkit-animation: flip-vertical-right 2s linear infinite; animation: flip-vertical-right 4s linear infinite;}
.fade-in {-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both; animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;}
.flip-in-hor-bottom {-webkit-animation: flip-in-hor-bottom 2s linear 1.4s both; animation: flip-in-hor-bottom 2s linear 1.4s both;}
@-webkit-keyframes flip-vertical-right {
  0% {-webkit-transform: rotateY(0); transform: rotateY(0);}
  100% {-webkit-transform: rotateY(360deg); transform: rotateY(360deg);}
}
@keyframes flip-vertical-right {
  0% {-webkit-transform: rotateY(0); transform: rotateY(0);}
  100% {-webkit-transform: rotateY(360deg); transform: rotateY(360deg);}
}
@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes flip-in-hor-bottom {
  0% {-webkit-transform: rotateX(80deg); transform: rotateX(80deg); opacity: 0;}
  100% {-webkit-transform: rotateX(0); transform: rotateX(0); opacity: 1;}
}
@keyframes flip-in-hor-bottom {
  0% {-webkit-transform: rotateX(80deg); transform: rotateX(80deg); opacity: 0;}
  100% {-webkit-transform: rotateX(0); transform: rotateX(0); opacity: 1;}
}

@media all and (max-width: 767px) {
  .name-container h1 {font-size: 4rem;}
  .side-nav-link {display: inline-block; font-size: 0.75rem; top: 0px; padding: 6px 8px;}
  .side-nav {width: 100vw; height: 40px;}
  .side-nav-active {height: 80px;}
  .nav-arrow {
    left: 10px;
    top: 10px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .nav-arrow-active {
    left: 10px;
    top: 42px;
    -webkit-transform: rotate(510deg);
    transform: rotate(510deg);
  }
  .about-container {height: 100vh;justify-content: center;}
	.about-box {width: 90%; left: 5%; min-height: 0px;}
	.about-box h3 {font-size: 0.8rem; letter-spacing: 0.4rem;}
	.about-box p {font-size: 1rem; display: none;}
  .about-box:hover {-webkit-transform: scale(1,1) translateY(0);transform: scale(1,1) translateY(0); -webkit-box-shadow: 0.05vw 0.1vw 0.13vw rgba(34,34,34,0.4); box-shadow: 0.05vw 0.1vw 0.13vw rgba(34,34,34,0.4);}
  .about-arrow {display: inline;}


	.demo-container {height: auto; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap;}
	.demo-box {width: 90%;}
	.silhouette {width: 70%; top: 56%;}
	#cartoon-me {display: none;}
}

@media screen and (max-device-aspect-ratio: 4/3) {
  .link-container {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
  a.link-logo {width: 24%;}
}
